@import './base.css';

@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

html,
body {
  font-family: 'Patrick Hand', sans-serif;
  overscroll-behavior-y: none;
}

#app {
  font-family: 'Patrick Hand', sans-serif;
  margin: 0 auto;
  font-weight: normal;
  overscroll-behavior-y: none;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
