@import './base.css';

:root {
  --nav-height: 50px;
  --body-height: 100vh;
}

@supports (height: 100svh) {
  :root {
    --body-height: 100svh;
  }
}

body {
  height: var(--body-height);
}

.must-visible .hidden {
  display: block !important;
}

::-webkit-scrollbar {
  @apply h-0 w-0 md:h-1 md:w-1;
}

::-webkit-scrollbar-track {
  background: #ffeef7;
  border-radius: 999px;
  border: 1px solid #ffeef7;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ffb7d5, #d9b3ff);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ff9fc9, #c99bff);
}
